<a href="https://colab.research.google.com/github/raichalvarghese/Data_Science_Lab/blob/master/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [36]:
webpage = requests.get("https://www.flipkart.com/search?q=laptop&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=laptop%7CLaptops&requestId=d26dc68e-7daa-41b1-823c-c79a81523267&as-searchtext=lap")

In [37]:
webpage

In [38]:
soup = BeautifulSoup(webpage.content,"html.parser")

In [67]:
#print(soup.prettify())

In [42]:
Products = soup.find_all("div",class_="_4rR01T")

In [71]:
#Products

In [45]:
Lap_names = [] 
for i in range(0,len(Products)):
  Lap_names.append(Products[i].get_text())

In [70]:
#Lap_names

In [47]:
price = soup.find_all("div",class_="_30jeq3 _1_WHN1")

In [69]:
#price

In [52]:
price_values = [] 
for i in range(0,len(price)):
  price_values.append(price[i].get_text())

In [72]:
#price_values

In [68]:
ratings = soup.find_all("div",class_="_3LWZlK")
#ratings

In [55]:
Rating_values = [] 
for i in range(0,len(ratings)):
  Rating_values.append(ratings[i].get_text())

In [73]:
#Rating_values

In [58]:
print(len(Lap_names),len(price_values),len(Rating_values))

24 24 38

In [60]:
df = pd.DataFrame()
final = pd.DataFrame({"LAPTOP NAMES":Lap_names,"PRICE":price_values})
final

                                         LAPTOP NAMES      PRICE
0   acer Aspire 7 Ryzen 5 Hexa Core AMD R5-5500U -...    ₹45,990
1   RedmiBook 15 Core i3 11th Gen - (8 GB/256 GB S...    ₹29,999
2   HP Athlon Dual Core 3050U - (4 GB/256 GB SSD/D...    ₹22,490
3   HP Athlon Dual Core 3050U - (8 GB/512 GB SSD/W...    ₹29,990
4   MSI GF63 Thin Core i5 11th Gen - (8 GB/512 GB ...    ₹49,990
5   HP Athlon Dual Core 3050U - (8 GB/256 GB SSD/W...    ₹26,999
6   ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 ...    ₹35,990
7   acer Aspire 7 Ryzen 5 Hexa Core 5500U - (16 GB...    ₹49,990
8   MSI Bravo 15 Ryzen 5 Hexa Core AMD R5-5600H - ...    ₹49,990
9   Lenovo IdeaPad 3 Celeron Dual Core - (8 GB/256...    ₹29,980
10  Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...    ₹38,799
11  ASUS VivoBook 14 (2022) Core i5 11th Gen - (8 ...    ₹47,990
12  ASUS VivoBook 15 (2022) Core i5 10th Gen - (8 ...    ₹44,990
13  HP Pavilion Ryzen 5 Hexa Core AMD R5-5600H - (...    ₹62,990
14  APPLE 2021 Macbook Pro M1 Max - (32 GB/1 TB SS...  ₹3,09,490
15  ASUS VivoBook 14 (2022) Ryzen 7 Quad Core AMD ...    ₹47,990
16  DELL Inspiron Athlon Dual Core 3050U - (8 GB/2...    ₹31,990
17  MSI Core i7 11th Gen - (8 GB/512 GB SSD/Window...    ₹68,990
18  Infinix INBook X1 Neo Series Celeron Quad Core...    ₹24,999
19  HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...    ₹42,990
20  Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...    ₹46,518
21  MSI Core i7 11th Gen - (8 GB/512 GB SSD/Window...    ₹59,990
22  HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...    ₹37,399
23  DELL Ryzen 5 Hexa Core AMD R5-5600H - (16 GB/5...    ₹70,990

In [65]:
final.to_csv("laptop.csv",index=False)

In [66]:
pd.read_csv("laptop.csv")

                                         LAPTOP NAMES      PRICE
0   acer Aspire 7 Ryzen 5 Hexa Core AMD R5-5500U -...    ₹45,990
1   RedmiBook 15 Core i3 11th Gen - (8 GB/256 GB S...    ₹29,999
2   HP Athlon Dual Core 3050U - (4 GB/256 GB SSD/D...    ₹22,490
3   HP Athlon Dual Core 3050U - (8 GB/512 GB SSD/W...    ₹29,990
4   MSI GF63 Thin Core i5 11th Gen - (8 GB/512 GB ...    ₹49,990
5   HP Athlon Dual Core 3050U - (8 GB/256 GB SSD/W...    ₹26,999
6   ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 ...    ₹35,990
7   acer Aspire 7 Ryzen 5 Hexa Core 5500U - (16 GB...    ₹49,990
8   MSI Bravo 15 Ryzen 5 Hexa Core AMD R5-5600H - ...    ₹49,990
9   Lenovo IdeaPad 3 Celeron Dual Core - (8 GB/256...    ₹29,980
10  Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...    ₹38,799
11  ASUS VivoBook 14 (2022) Core i5 11th Gen - (8 ...    ₹47,990
12  ASUS VivoBook 15 (2022) Core i5 10th Gen - (8 ...    ₹44,990
13  HP Pavilion Ryzen 5 Hexa Core AMD R5-5600H - (...    ₹62,990
14  APPLE 2021 Macbook Pro M1 Max - (32 GB/1 TB SS...  ₹3,09,490
15  ASUS VivoBook 14 (2022) Ryzen 7 Quad Core AMD ...    ₹47,990
16  DELL Inspiron Athlon Dual Core 3050U - (8 GB/2...    ₹31,990
17  MSI Core i7 11th Gen - (8 GB/512 GB SSD/Window...    ₹68,990
18  Infinix INBook X1 Neo Series Celeron Quad Core...    ₹24,999
19  HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...    ₹42,990
20  Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...    ₹46,518
21  MSI Core i7 11th Gen - (8 GB/512 GB SSD/Window...    ₹59,990
22  HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...    ₹37,399
23  DELL Ryzen 5 Hexa Core AMD R5-5600H - (16 GB/5...    ₹70,990